@charset "UTF-8";

body {
    display: flex;
    height: 98vh;
    justify-content: center;
    align-content: center;
    background-color: yellow;
}

main {
    display: flex;
    flex-direction: column;    
    height: 550px;
    width: 310px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 10px 0px black;
}

#img1 {
    background-image: url(assets/images/illustration-article.svg);
    background-size: cover;
    background-position: bottom;
    height: 240px;
    width: 310px;
    border-radius: 20px;
}

#p1 {
    color: black;
    font-size: 16px;
    background-color: orange;
    width: 100px;
    height: 30px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

#p2 {
    color: grey;
    font-size: 18px;
}

h1 {
    font-size: 26px;
}

#user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user img {
    height: 40px;
    padding-right: 15px;
}